.chat {
    width: 300px;
    border: solid 1px white;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .message {
    border-radius: 10px;
    padding: 8px 15px;
    max-width: 40vw;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2),0 3px 3px 0 rgba(0,0,0,0.19) !important;
    display: inline-block;
  }

  .yours {
    align-items: flex-start;
  }

  .yours .message {
    color: black;
    margin-right: 25%;
    background-color: white;
    position: relative;
  }

  .mine {
    align-items: flex-end;
  }

  .mine .message {
    color: black;
    margin-left: 25%;
    background-attachment: fixed;
    background-color: #efeff2;
    position: relative;
  }

  p {
    margin-bottom: 0;
  }

  .mine .timestamp{
    text-align: right;
  }

  .timestamp{
    width: 100%;
    opacity: 0.7;
    font-size: 0.6rem;
    margin-top: 0.3rem;
  }


.chat-button-wrapper:hover {
  cursor: pointer;
}

.ant-btn-icon-only.ant-btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-tabs-nav {
  width: 100%;
}

.ant-tabs-nav div {
  display: flex;
}

.ant-tabs-nav div div {
  flex-grow: 1;
  text-align: center;
  flex-basis: 1px;
}

.ant-dropdown-menu-item {
  font-size: 18px !important;
  padding: 10px 24px !important;
}

.anticon {
  vertical-align: 0 !important;
}

.system-message {
  text-align: center;
  font-weight: bold;
  align-self: center;
}

.ant-badge-status-dot {
  height: 10px;
  width: 10px;
}

.staff-main-header .ant-page-header-heading {
  overflow: visible;
}

.staff-main-header .ant-page-header-heading .ant-page-header-heading-title .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #F9D835;
  color: black;
  border-color: #F9D835;
}

textarea.ant-input {
  resize: none;
}

.ant-divider, .ant-divider-vertical {
  margin: 0;
}